* {
	@include box-sizing(border-box);
}

.container {
	@include container;
	overflow: hidden;

	
	@if $ltie9 == true {
		padding:0 $v-spacing-half;
	}
}

.main-spacing {
	padding-top: rem(114px);
}

.main-sidebar {
	@include span(9);
	background:$white;
	padding: $gutter-width $gutter-width $v-spacing-double 0; 
	min-height: rem(400px);
}

.sidebar {
	@include span(3 last);
	margin-top:$gutter-width;
}

// Case study and homepage
.main,
.main_prefix {
	background:$primary_banner;
}  

// Article main background change
.main-article {
	background:$white;
}

// Faux column 
// ===========
.faux {
	background: $faux;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	z-index: 0;
}

