// Blog listing
// ============

.view-blog-listing {
	margin:0 auto;
	max-width: rem(700px);

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin-bottom: $gutter-width;
		}
	}
}


// Article Teaser
// ==============
.article__teaser {
	margin-bottom: $gutter-width;
	padding-bottom: $gutter-width;
	border-bottom:1px solid $primary_banner;
	
	// Title
	.article__title h2 {
		font-size: rem(45px);
		margin-bottom: 0;
		padding-bottom: $gutter-width;
		border-bottom:1px solid $primary_banner;
	}

	.article__image {
		margin-bottom: $gutter-width;
	}

	// Author and date
	.article__meta {
		float: left;
		margin-right: rem(5px);
		margin-bottom: 0;
		padding: rem(14px) 0;
	}

	.label-inline,
	.article__author,
	.article__date {
		color: $line;
	}

	// Button
	.article__button a {
		@extend %button;
		padding:rem(6px) rem(20px);
	}

	.sharethis-wrapper {
		padding:rem(10px) 0;

		span {
			margin:0 0 0 rem(10px);
		}
	}
}

.pager-load-more a {
	@extend %button;
	margin:0 auto;
	max-width:rem(220px);
	display: block;
}


// Article page
// ============
.article {
	position: relative;

	.container {
	  position: relative;
	  z-index: 10;
	}

	// Fix the image
	img {
		display: block;
	}

	.sidebar {
		
		.content {
			padding:$gutter-width;
			background:$primary_banner;
		}
	}
}

// Blog shelf
// ==========
.blog-shelf {
	background:$primary_banner;
	overflow: hidden;
	margin-bottom: $gutter-width;

	.article__date, 
	.article__author, 
	.article__tags {
		padding:$v-spacing-half 0;
		float: left;
		margin-bottom: 0;
	}

	.article__author {
		margin-left: rem(15px);
		margin-right: rem(5px);
	}

	.article__tags {
		margin-left: rem(15px);

		a {

			&:link, &:visited {

			}
		}
	}

	.sharethis-wrapper {
		padding: rem(8px);

		span {
			margin:0 rem(5px);
		}
	}
}

// Share buttons
// =============
.sharethis-wrapper {
	float: right;
	
	span {
		display: block;
		width: rem(30px);
		height: rem(30px);
		@include background-size(cover);
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		float: right;
		opacity: 0.7;
		@include transition(all 0.3s ease-in-out);

		&:hover, &:focus, &:active {
			cursor: pointer;
			opacity:1;
		}
	}
}

.st_facebook_custom {
	 background-image: url('../images/facebook.png');
}

.st_twitter_custom {
	 background-image: url('../images/twitter.png');
}

.st_linkedin_custom {
	 background-image: url('../images/linkedin.png');
}