.article {
	position: relative;

	.container {
	  position: relative;
	  z-index: 10;
	}

	.sidebar {
		
		.content {
			padding:$gutter-width;
			background:$primary_banner;
		}
	}
}

.blog-shelf {
	background:$primary_banner;
}

.article__date, 
.article__author, 
.article__tags {
	padding:$v-spacing-half 0;
	float: left;
	margin-right: $gutter-width;
}


.article__tags {
	

	a {

		&:link, &:visited {

		}
	}
}