.main_prefix {
	background: #ddd;
}

.main--case-study {
	background:$white;
}

.unavailable {
	background-color:$primary_banner;
    color: $faux;
    line-height: rem(25px);
    text-transform: uppercase;
    text-align: center;
    padding: rem(12px) rem(58px) rem(15px) rem(58px);
    font-size: rem(14px);
    display: block;
}

.case-study {
	position: relative;

	.container {
		position: relative;
		z-index:10;
	}

	.sidebar {
		
		.button {
			width: 100%;
			display: block;
			margin-bottom: $gutter-width;
			font-size: rem(14px);
			padding: rem(12px) rem(10px) rem(15px) rem(10px);
		}

		.button__container {
			margin-bottom: $gutter-width;

			a {
				font-size: rem(14px);
			}
		}
	}
}

.testimonial {
	background:$grey;
	box-shadow:inset 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom: $gutter-width;
	padding:$gutter-width;
}

.testimonial__content {
	clear: both;
	
	&:before {
		content:'';
		width: rem(40px);
		height: rem(34px);
		display: block;
		margin:0 auto $gutter-width;
        background-position: sprite-position($sprite, quote);
	}

	p {

	}
}

.testimonial__author {
	float: right;
}


// Listing page 
// ============

.view-case-study-listing {
	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			list-style: none;
			@include span(4);
		}
	}
}