// Homepage banner
.homepage__banner {
	padding:$v-spacing;
}

// Banner text large
.hp_b_large-text {
	text-align: center;
	font-weight: bold;
	margin:0 auto $v-spacing;
}

// Banner text small
.hp_b_large-small {
	text-align: center;
	width:32%;
	margin:0 auto $v-spacing;
}

// Banner button
.hp_b_btn {
	margin: 0 auto;
	width:rem(196px);
	a {
		@extend %button;
		color:$white;
	}
}