
// =============

// Compass settings
// ================
$browser-default-font-size: 16px;
$base-font-size: 15px; // Set the base font size for the site's body text.

@import 'susy';

// Grid/layout settings
// =============
// Gutters
$gutter-width: rem(24px);
// Susy
$susy: (
  flow: ltr, 
  output: float, 
  math: fluid, 
  column-width: rem(80px), 
  container: auto, 
  container-position: center, 
  last-flow: to,
  columns: 12,
  gutters: 3/10,
  gutter-position: after, 
  global-box-sizing: content-box, 
);


// Fonts
// Colour pallette
// ===============
$body_copy: #222222;

// Primary colours
// ===============
$primary_dark: $body_copy; // Dark
$primary_blue: #9bbfce; // Blue 
$primary_banner: #e1e1e1; // Banner grey

$faux:#2f3238;
$grey:#fafafa;
$white:#fff;

// Link & Hover
// ===============
$link: $primary_blue;
$hover:#6995ab;
$active:#81d1f3;
$active2: #2785ac;

// Line
// ===============
$line:$primary_dark;
$background:$primary_dark;

// Tiltslider colors
$tiltHover:#333;
$tiltCurrent:#222;
$tilt:#aaa;

// Font settings
// ===============
$base-font-family: 'Open Sans', Verdana, Arial, sans-serif;
$bold: $base-font-family;
$v-spacing: $gutter-width;
$v-spacing-half: $v-spacing / 2;
$v-spacing-double: $v-spacing * 2;
$v-spacing-triple: $v-spacing * 3;
$v-spacing-quarter: $v-spacing / 4;
$v-spacing-three-quarter: $v-spacing * .75;

// Image sprites
// ===============
$sprite: sprite-map("sprite/*.png", $layout: smart);


$webkit: -webkit-min-device-pixel-ratio 0;